<!DOCTYPE html>
<html>
    <title>Centennial Challenges Survey Data Filterer</title>
    <head>
        <h1>Welcome to the Centennial Challenges Survey Data Filterer</h1>
    </head>

    <!--UPLOAD DATA -->
    <section id = "uplaod">
        <h2>Upload your data</h2>
        <p>upload a complete CSV file from Survey Monkey</p>
        <form action= "{% url "myapp:upload_csv" %}"" method="POST" enctype="multipart/form-data"> 
            {% csrf_token %}
            <div>
              <label for="name">File: </label>
              <div>
                <input type="file" name="csv_file" required="True">
              </div>          
            </div>
            <div>          
              <div style="margin-bottom:10px;">
                 <button> <span style="margin-right:5px;"></span>Upload </button>
              </div> 
            </div>
            </form>
    </section>
    <section id = "filter">
        <h2>Filter your Data</h2>
        <div style="float: left;">
            <p style = "text-align: center;">Either check all challenges or enter specific ones.</p>
            <form action = "python_used_to_process form">
                <input type = "checkbox" id = "all_chals" name = "all_chals">
                <label for = "all_chals">All Challenges</label><br>
                <label for = "enter_chal">Enter Challenge</label>
                <input type =  "text" id = "enter_chal" name = "enter_chal"><br>
                <!--These add and remove functions need to be written. I think they can be doen in js-->
                <button id = "add_chal_button" onclick = "function_that_adds_enter_chal_field()">Add Challenge</button>
                <button id = "remove_chal_button" onclick = "function_that_removes_enter_chal_field()">Remove Challenge</button>
            </form>
        </div>
        <div style="float: left;">
            <p style="text-align: center;">Select which multiple choice questions answers you want to filter the data through</p>
            <form action = "python_used_to_process form">
                <div style = "float: left;">
                    <input type = "checkbox" id = "q1" name = "q1">
                    <label for = "q1">1. 2nd timer</label><br>
                    <input type = "checkbox" id = "q3" name = "q3">
                    <label for = "q3">3. Multi-phase participant</label><br>
                    <input type = "checkbox" id = "q4" name = "q4">
                    <label for = "q4">4. Why not multi-phase participant</label><br>
                    <input type = "checkbox" id = "q7" name = "q7">
                    <label for = "q7">7. Recommendation score</label><br>
                    <input type = "checkbox" id = "q9" name = "q9">
                    <label for = "q9">9. Participate again</label><br>
                    <input type = "checkbox" id = "q12" name = "q12">
                    <label for = "q12">12. Did you win</label><br>
                </div>
                <div style = "float: left;">
                    <input type = "checkbox" id = "q18" name = "q18">
                    <label for = "q18">18. Challenge timeline</label><br>
                    <input type = "checkbox" id = "q20" name = "q20">
                    <label for = "q20">20. Difficulty</label><br>
                    <input type = "checkbox" id = "q22" name = "q22">
                    <label for = "q22">22. US Citizen</label><br>
                    <input type = "checkbox" id = "q27" name = "q27">
                    <label for = "q27">27. Barriers</label><br>
                    <input type = "checkbox" id = "q30" name = "q30">
                    <label for = "q30">30. Affiliation</label><br>
                    <input type = "checkbox" id = "q31" name = "q31">
                    <label for = "q31">31. Working in industry (past)</label><br>
                </div>
                <div style = "float: left;">
                    <input type = "checkbox" id = "q32" name = "q32">
                    <label for = "q32">32. Working in industry (present)</label><br>
                    <input type = "checkbox" id = "q35" name = "q35">
                    <label for = "q35">35. Did Challenge help you</label><br>
                    <input type = "checkbox" id = "q37" name = "q37">
                    <label for = "q37">37. Did Challenge help NASA</label><br>
                    <input type = "checkbox" id = "q40" name = "q30">
                    <label for = "q40">40. Budget</label><br>
                    <input type = "checkbox" id = "q42" name = "q42">
                    <label for = "q42">42. Time committment full-time</label><br>
                    <input type = "checkbox" id = "q43" name = "q43">
                    <label for = "q43">43. % of full-time</label><br>
                </div>
                <div style = "float: left;">
                    <input type = "checkbox" id = "q51" name = "q51">
                    <label for = "q51">51. Media exposure</label><br>
                    <input type = "checkbox" id = "q53" name = "q53">
                    <label for = "q53">53. Publications</label><br>
                    <input type = "checkbox" id = "q55" name = "q55">
                    <label for = "q55">55. Did Challenge help NASA</label><br>
                </div>
            </form>
        </div>
    </section>
    <section>
        <h2>Download filtered data as CSV</h2>
    </section>
    <section>
        <h2>Select which question to view from the filtered data</h2>
        <form action = "python_used_to_process_this.py">
            <input type = "checkbox" id = "allQs" name = "allQs">
            <label for = "allQs">All Questions</label><br>
            <select name = question_dropdown>
                <option value = 9>1. Have you participated in more than one Centennial Challenge?</option>
                <option value = 10>2. In which Challenge did you most recently participate?</option>
                <option value = 12>3. If there were multiple phases in the challenge, did you continue onto the following phase?</option>
                <option value = 13>4. Why didn't you continue on to the following phase?</option>
                <option value = 15>5. On a scale of 1 – 10, with 10 being the highest, how satisfied are you with your experience participating in this Challenge?</option>
                <option value = 16>6. Why did you give that rating?</option>
                <option value = 17>7. How likely is it that you would recommend participating in a Centennial Challenge to a friend or colleague?</option>
                <option value = 18>8. Why did you give that rating?</option>
                <option value = 19>9. Would you personally participate in another Centennial Challenge?</option>
                <option value = 20>10. Why or why not?</option>
                <option value = 21>11. What was the biggest benefit or most positive outcome you received from participating in the Challenge?</option>
                <option value = 22>12. Did you win any phase(s), stage(s), or portion(s) of the Challenge?</option>
                <option value = 23>13. When you first learned about the Challenge, why did you choose to participate?</option>
                <option value = 39>14. If your reasons were not on the above list, please add them here.</option>
                <option value = 40>15. Did your participation meet your expectations in each of these areas?</option>
                <option value = 56>16. After participating, what do you see as the biggest value in participating? Please rank all that were relevant with 1 being the most relevant</option>
                <option value = 72>17. If any values of participating were not listed above, please add them here. </option>
                <option value = 73>18. How did you feel about the Challenge timeline and the time you had to develop your solution?</option>
                <option value = 74>19. Why did you feel that way?</option>
                <option value = 75>20. How did you feel about the difficulty of the Challenge in terms of what it was asking for you to provide in a solution? </option>
                <option value = 76>21. Why did you feel that way?</option>
                <option value = 77>22. Are you a citizen of the United States?</option>
                <option value = 78>23. Why did you choose to compete even knowing you could not be awarded the prize purse?</option>
                <option value = 79>24. What country are you from?</option>
                <option value = 80>25. What were the most valuable incentives/support provided to you/your organization by NASA and/or the Challenge sponsors during the Challenge?</option>
                <option value = 81>26. What incentives/support do you think NASA can offer moving forward to make it more beneficial to participants?</option>
                <option value = 82>27. Were there any “barriers” that you felt made it difficult to participate?</option>
                <option value = 83>28. What were the "barriers" that made it difficult to participate in the Challenge?</option>
                <option value = 84>29. Do you have any suggestions about how the "barriers" can be addressed or removed in the future?</option>
                <option value = 85>30. What was your affiliation at the time you participated in this Challenge?</option>
                <option value = 87>31. Were you working in an industry specific to the Challenge prior to learning about the Challenge?</option>
                <option value = 88>32. Are you currently working in an industry specific to the Challenge?</option>
                <option value = 89>33. Why or why not?</option>
                <option value = 90>34. In what industry are you currently working?</option>
                <option value = 91>35. Do you feel that this Challenge helped move your work or your organization forward?</option>
                <option value = 92>36. Why or why not?</option>
                <option value = 93>37. Do you think that this Challenge helped move NASA forward?</option>
                <option value = 94>38. Why or why not?</option>
                <option value = 95>39. What impact do you think the solutions (your solution or solutions from other teams) can have on Earth applications?</option>
                <option value = 96>40. How much money would you estimate you or your organization spent participating in this Challenge?</option>
                <option value = 97>41. Does your response above include the following? (Please check all that apply.)</option>
                <option value = 103>42. Was working on your solution for the Challenge your full-time job during the Challenge?</option>
                <option value = 104>43. What percent of a normal 40 hour work week do you think you spent participating in the Challenge?</option>
                <option value = 105>44. What was your full-time job while participating in the Challenge? </option>
                <option value = 106>45. What is your favorite anecdote/story about participating?</option>
                <option value = 107>46.What could NASA do now that the Challenge is over to further increase the impact of the Challenge?</option>
                <option value = 108>47. What could NASA do now that the Challenge is over to further support you/your organization and other Challenge participants?</option>
                <option value = 109>48. To summarize: What did you like best about participating in this Challenge?</option>
                <option value = 110>49. What could be improved for future Challenges?</option>
                <option value = 111>50. What else should we know about your experiences that were not covered in this survey?</option>
                <option value = 112>51. Did your team or organization get any media as a result of participating?</option>
                <option value = 113>52. Please feel free to add links to that media.</option>
                <option value = 114>53. Did your team or organization submit any articles for publication or publish any reports or blogs?</option>
                <option value = 115>54. Please feel free to add links to that material.</option>
                <option value = 116>55. Did your team or organization get funding after the challenge?</option>
                <option value = 117>56. Please feel free to share how much funding you received.</option>
                <option value = 118>57. What are you doing now? Did the Challenge help you get there?</option>
                <option value = 119>58. If you are comfortable with us sharing your experiences within NASA, please provide your name and email address here. </option>
            </select>
        </form>
    </section>

</html>
